@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #020202;
    --highlight-color: #2d2e30;
    --text-color: #ffffff;
    --alternate-text-color: #000000;
    --ascent-color: #6db001;
}

* {
    font-family: 'Galyon', sans-serif;
    margin: 0;
    padding: 0;
}




input[type="text"], input[type="email"], input[type="password"], select {
    color: var(--alternate-text-color);
    outline: none;
    border: none;
}

option {
    margin-block: 1rem;
}

.app {
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100vh;
    width: 100%;
    display: flex;
    gap: 1rem;
}

.app-content {
    width: 80%;
    padding: 1rem;
}

.navigation-container {
    width: 20%;
    height: 100%;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.modal {
    position: fixed;
    top:0;
    right: 0;
    height: 100%;
    width: 50%;
    background-color: var(--highlight-color);
    padding: 1rem;
}

.modal-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}